<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.serviceedu.mapper.EduTeacherMapper">
<resultMap id="" type="">
    <id column="" property=""></id>
    <result column="" property=""></result>
    <collection property="" ofType="" select="" column=""></collection>
</resultMap>
    <select id="" resultMap="">

    </select>


</mapper>
